%categoryTitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 50px;
}

%btn {
  text-decoration: none;
  color: inherit;
  padding: 8px 30px;
  font-weight: 500;
  border-radius: 99px;
  text-align: center;
  margin-right: 5px;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: black;
    color: white;
  }
}
