@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Montserrat:wght@400;500&display=swap");

@import "_reset.scss";
@import "_titles.scss";
@import "_variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  @extend %miniTitle;
}

body {
  font-family: "Caladea";

  padding-top: 80px;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}

header {
  z-index: 1;
  text-decoration: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 140px;
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 10px;
      @extend %miniTitle;

      &:first-child {
        li {
          margin-right: 60px;
        }
      }
    }
  }
}

.hero {
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1561158317-757a4631770e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba($color: black, $alpha: 0.7);
  margin: 0px $sideSpace;
  margin-bottom: 80px;
  h4 {
    @extend %miniTitle;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 48px;
    width: 30%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
  }

  a {
    width: 13%;
    border: 1px solid;
    padding: 23px 0px;
    text-align: center;
    color: black;

    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.under-hero {
  height: 70vh;
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  .under-hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        @extend %miniTitle;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 30px;
        color: rgba($color: black, $alpha: 0.8);
      }
      h3 {
        font-size: 36px;
        text-align: center;
        color: rgba($color: black, $alpha: 0.5);
        margin-bottom: 70px;
      }
      a {
        border: 1px solid black;
        padding: 22px;
        width: 55%;
        text-align: center;
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        &:hover {
          background-color: rgba($color: black, $alpha: 0.7);
          color: white;
        }
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60vh);
  margin-bottom: 80px;
  .blog__post {
    background-color: $bg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgba($color: black, $alpha: 0.6);
    &:nth-child(even) {
      img {
        order: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .post__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .post__date {
        @extend %miniTitle;
        margin-bottom: 50px;
      }
      h4 {
        font-size: 32px;
        margin-bottom: 80px;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 410px);
  .gallery__poster {
    display: flex;
    align-content: center;
    justify-content: center;

    height: 100%;
    cursor: pointer;
    img {
      text-align: center;
      max-width: 100%;
      object-fit: cover;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer {
  margin-top: 100px;
  background-color: $bg;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 65px 0px;
  .footer__column {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    @extend %miniTitle;
    .column__title {
      margin-bottom: 50px;
      opacity: 0.5;
    }
    ul {
      li {
        margin-bottom: 15px;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }
}
