@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Noto+Serif+TC:wght@300;400;500;600&display=swap");
@import "_variables.scss";
@import "_elements.scss";
@import "_reset.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", "Josefin Sans";
  margin-right: 180px;
}

nav {
  position: fixed;
  width: 180px;
  top: 0;
  right: 0;
  text-align: center;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 100vh;
    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: red;
      span {
        font-family: "Josefin Sans";
        font-size: 20px;
        transform: rotateZ(90deg);
      }
      &:first-child {
        background-color: #5ea3ec;
      }
      &:nth-child(2) {
        background-color: #f64444;
      }
      &:last-child {
        background-color: #ffb400;
      }
    }
  }
}

header {
  margin-top: 255px;
  margin-bottom: 140px;

  h1 {
    padding-left: $marginLeft;
    width: 70%;
    font-size: 75px;
    line-height: 1.3;
    margin-bottom: 135px;
  }
  .header__image {
    margin: 0;
    width: 100%;
    height: 110vh;
    background-image: url("https://source.unsplash.com/random");
    background-position: center center;
    background-size: cover;
  }
}
main {
  padding: 0px $marginLeft;
  h1 {
    font-size: 110px;
    width: 50%;
    line-height: 1.3;
    margin-bottom: 90px;
  }
  .contents {
    font-family: "Josefin Sans";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    .content {
      height: 100%;
      display: grid;
      grid-template-rows: 650px 20%;
      gap: 30px;
      .content__text {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 1.4;
      }
      .content__image {
        overflow: hidden;
        img {
          max-height: 100%;
          width: 200%;
          object-fit: cover;
        }
      }
    }
  }
  .events {
    margin-top: 150px;
    display: grid;
    justify-items: center;

    .event__header {
      padding-bottom: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center center;

      width: 100%;
      font-size: 64px;
      h4 {
        text-align: center;
        font-size: 80px;
        width: 100%;
      }
      span {
        font-size: 50px;
      }
    }

    .event__dates {
      position: relative;
      padding: 75px 0 120px;
      margin-bottom: 100px;
      background-image: linear-gradient(90deg, #000 50%, transparent 0),
        linear-gradient(90deg, #000 50%, transparent 0),
        linear-gradient(90deg, #000 50%, transparent 0),
        linear-gradient(90deg, #000 50%, transparent 0);
      background-position: 0 0, 0 93%, left 14px, 0 calc(93% - 14px);
      background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
      background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;

      font-family: "Josefin Sans";
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center center;
      text-align: center;
      width: 100%;

      .date {
        display: flex;
        flex-direction: column;

        span:first-child {
          margin-bottom: 20px;
        }
      }
      button {
        @extend %btn;
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        align-items: center;
        bottom: 0;
        padding: 19px 65px;
        transition: color, background-color 0.2s ease-in-out;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  .map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    margin-bottom: 80px;
 
    

    .event__text {
      display: grid;
     align-items: center;
     text-align: center;
      color: inherit;
      text-decoration: none;
      font-size: 60px;
      line-height: 1.3;
     @extend %backLine;
   
     
    }

    .event__map {
      border: 1px dashed black;
      overflow: hidden;
      a{
        img {
       
          max-width:: 100%;
          object-fit: cover;
         
        
        }
      }
      
    }
  }

  .interest{
    .interest__vendor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      background-image: repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px);
      background-position: 0 0,0 100%;
      background-size: 100% 12px,100% 12px;
      background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
      margin-bottom: 60px;
      span{
        font-size: 40px;
        padding: 60px  0px 35px;
      }
      button{
       margin-bottom: 60px;
        @extend %btn;
        cursor: pointer;
        font-size: 18px;
        padding: 17px 50px;
        transition: color, background-color 0.2s ease-in-out;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .interest__sns{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 60px;
      place-items: center center;
      margin-bottom: 60px;
      font-family: "Josefin Sans";
      .interest__text{
        width: 100%;
        height: 100%;
        padding: 55px;
        display: grid;
        align-items: center;
        background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0);
        background-position: 0 0,0 100%,0 0,100% 0;
        background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
        background-size: 30px 1px,30px 1px,1px 30px,1px 30px;
       
        text-align: center;
        line-height: 1.3;
        i{
          margin-bottom: 20px;
        }
      }
    }
    .interest__email{
      font-family: "Josefin Sans";
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 60px;
      margin-bottom: 30px;
      background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0);
    background-position: 0 0,0 100%,0 0,100% 0;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
    background-size: 30px 1px,30px 1px,1px 30px,1px 30px;
      h4{
        font-size: 25px;
        line-height: 1.3;
      }
      .input{
        width: 46%;
        border: 1px solid black;
        padding: 20px 40px;
      }
      .input::placeholder{
        font-family: "Josefin Sans";
        color: black;
        font-size: 15px;
      }
      input[type=text]:focus{
        outline: none;
      }
    }
  }
  
}
.footer{
  padding: 0px $marginLeft;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 60px;
  font-family: "Josefin Sans";
  font-weight: 600;
  .footer__copyright{
    display: flex;
    font-size: 14px;
   li{
    margin-right: 100px;
    a{
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid black;
    }
   }
  }
  .footer__design{
    
    display: flex;
    justify-content: flex-end;
   
    h4{
      text-decoration: line-through;
      margin-left: 5px;
    }
    
  }
}